.App {
  text-align: center;
}

.gameInfo {
  margin-top: 1%;
  margin-bottom: 2%;
}

.black {
  color: black;
}

.red {
  color: red;
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}